<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-100">
    <header class="bg-white py-4">
        <div class="container mx-auto flex justify-between items-center">        
            <div class="flex items-center gap-6">
                <a href="/" class="text-blue-400 text-sm hover:underline">Главная</a>
                <a href="/writers" class="text-blue-400 text-sm hover:underline">Писатели</a>
                <a href="/books" class="text-blue-400 text-sm hover:underline">Топ лучших гниг</a>
            </div>
        </div>
    </header>

    <main class="container mx-auto py-8">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>